/**
 * @package ESLint Run-Time Configuration <http://eslint.org/docs/user-guide/configuring>
 * @author Yorick Phoenix <yorick@issio.net>
 * @copyright Copyright (c) 2015, ISSIO Solutions, Inc
 */

{
    "env":
    {
        "browser": true
	},

	"rules":
	{
		"no-alert": 0,
		"no-comma-dangle": 2,
		"no-console": 0,
		"no-empty": 0,
		"no-mixed-spaces-and-tabs": [0, false],
		"no-multi-spaces": 0,
		"no-space-before-semi": 2,
		"no-spaced-func": 1,
		"no-trailing-spaces": 0,
		"no-underscore-dangle": 0,
		"no-unused-vars": [2, {"vars": "local", "args": "after-used"}],
		"camelcase": 0,
		"comma-spacing": 0,
		"key-spacing": [0, { "beforeColon": false, "afterColon": true }],
		"new-cap": 0,
		"quotes": [0, "double"],
		"semi": 2,
		"space-infix-ops": 0
    }
}
